body {
  margin: 0;
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;
}

@media (min-width: 720px) {
  header {
    flex-direction: row;
  }
}

@media (min-width: 1074px) {
  .App {
    width: 1034px;
    margin: 0 auto;
  }
}
